.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 90%;
}

.cards button {
  align-items: center;
  background-color: rgb(216, 24, 72);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 10px;
  margin-top: 5%;
  width: 45%;
}

.cards button:nth-last-child( -n+2 ) {
  margin-bottom: 15%;
}

.cards img {
  height: 80%;
  margin-top: 5%;
  width: 90%;
}

