.card-revenues-container {
  display: flex;
  overflow-x: scroll;
  width: auto;
}

.button-details {
  align-items: center;
  background-color: rgba(196, 196, 196, 1);
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 640px;
}
