.card-revenues-container {
  display: flex;
  overflow-x: scroll;
  width: auto;
}

.button-details {
  align-items: center;
  background-color: rgb(216, 24, 72);
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 640px;
}

.container-recomendation {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
