.search-inputs {
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 2%;
  padding: 1%;
  width: 95%;
}

.search-radios {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: space-evenly;
}

.search-inputs button {
  background-color: rgb(216, 24, 72);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.search-inputs button:active {
  background-color: #ecf4ec;
  color: black;
}
